body {
    min-height: 1000px;
}

.navbar-static-top {
    margin-bottom: 19px;
    background-color: #5d8399;
    /*background-image: url("../img/Arrows_Navbar.png");*/
    /*background-position: left;*/
    /*background-repeat: no-repeat;*/
    /*background-size: 40% 50px;*/
    border-color: #000000;
}

.navbar-brand {
    display: inline-block;
}

.navbar-default .navbar-brand {
    color: #FFF;
}

.navbar-default .navbar-brand:hover {
    color: #777;
}

.navbar-default .navbar-nav > li > a:hover {
    color: #999;
}

.navbar-default .navbar-toggle {
    border-color: transparent !important;
}

.navbar-toggle:hover {
    background-color: #5d8399 !important;
}

.navbar-toggle {
    background-color: #112231 !important;
}