{% extends "base.html" %}
{% load crispy_forms_tags %}


{% block content %}





<div class='row'>

    <div class='col-sm-6'>


    {% if title %}
    <h1 class='{% if title_align_center %}text-align-center{% endif %}'>{{ title }}</h1>
    {% endif %}

    <form method='POST' action=''>{% csrf_token %}
    {{ form|crispy }}

    <input class='btn btn-default' type='submit' value='Add' />
    <a class = "btn btn-default" href = '{% url "sort" %}' >Submit</a>
    <h3>Add the name clear to clear the names, then hit submit, then click home (Apologies from chris... quick fix)</h3>
    </form>
    </div>

    {% if title %}
        <h1 class='{% if title_align_center %}text-align-center{% endif %}'>{{ title }}</h1>
    {% endif %}
{##}
{#    <form method='POST' action=''>{% csrf_token %}#}
{#        {{ form|crispy }}#}
{#        <input class='btn btn-default' type='submit' value='Create' />#}

    <div class='col-sm-6'>


    {% for playername in playerList%}
    <h1 class='{% if title_align_center %}text-align-center{% endif %}'>{{ playername }}</h1>
    {% endfor %}

    </div>

</div>
{% endblock %}