{% load staticfiles %}


<style>
    .hvr-grow {
        display: inline-block;
        vertical-align: middle;
        transform: translateZ(0);
        box-shadow: 0 0 1px rgba(0, 0, 0, 0);
        backface-visibility: hidden;
        -moz-osx-font-smoothing: grayscale;
        transition-duration: 0.3s;
        transition-property: transform;
    }

    .hvr-grow:hover,
    .hvr-grow:focus,
    .hvr-grow:active {
        transform: scale(1.1);
    }

    ul.dropdown-menu {
        border-radius: 0px;
        border: solid black 1px;
        font-family: Heatwerk;
        font-size: 20px;
    }

    .userPictureBox {
        margin: 5px;
        border: solid black 1px;
        display: inline-block;
        margin-top: 10px;
        margin-bottom: 3px;
    }

    .UserPicture {
        margin-top: 5px;
        border-radius: 20px;
        border: solid black 1px;
        max-height: 40px;
        min-height: 40px;
        max-width: 40px;
    }

    #usernameProfile {
        margin-top: 0px;
        border-left: black solid 1px;
        border-right: black solid 1px;
        color: #b7ebff;
    {#        margin-top: 15px;#} margin-left: 10px;
        text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    }

    .profileBox {
        height: 200px;
        width: 147px;
        right: 0;
        position: absolute;
        z-index: 10;
        border: solid black 1px;
        border-top: 0px;
        background-color: #ececec;
        display: none;
    }

    .profileBox2 {
        height: 225px;
        width: 147px;
        right: 0;
        position: absolute;
        z-index: 10;
        border: solid black 1px;
        border-top: 0px;
        background-color: #ececec;
        display: none;
    }

    p {
        margin-bottom: 0px;
        font-size: 15px;
    }

    .officelogo {
        height: 75px;
        width: 75px;
        margin: 35px;
        border-radius: 3px;
        background-color: white;

        border: solid black 1px;
    }

    .shield-img {
        width: 60px;
        background-color: transparent;
        z-index: 12;
    }

    .hvr-float-shadow {
        margin-left: 45px;
        margin-top: 10px;
        margin-bottom: 13px;
        display: inline-block;
        vertical-align: middle;
        -webkit-transform: translateZ(0);
        transform: translateZ(0);
        box-shadow: 0 0 1px rgba(0, 0, 0, 0);
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
        -moz-osx-font-smoothing: grayscale;
        position: relative;
        -webkit-transition-duration: 0.3s;
        transition-duration: 0.3s;
        -webkit-transition-property: transform;
        transition-property: transform;
    }

    .hvr-float-shadow:before {
        pointer-events: none;
        position: absolute;
        z-index: -1;
        content: '';
        top: 100%;
        left: 5%;
        height: 10px;
        width: 90%;
        opacity: 0;
        background: -webkit-radial-gradient(center, ellipse, rgba(0, 0, 0, 0.35) 0%, rgba(0, 0, 0, 0) 80%);
        background: radial-gradient(ellipse at center, rgba(0, 0, 0, 0.35) 0%, rgba(0, 0, 0, 0) 80%);
        /* W3C */
        -webkit-transition-duration: 0.3s;
        transition-duration: 0.3s;
        -webkit-transition-property: transform, opacity;
        transition-property: transform, opacity;
    }

    .hvr-float-shadow:hover, .hvr-float-shadow:focus, .hvr-float-shadow:active {
        -webkit-transform: translateY(-5px);
        transform: translateY(-5px);
        /* move the element up by 5px */
    }

    .hvr-float-shadow:hover:before, .hvr-float-shadow:focus:before, .hvr-float-shadow:active:before {
        opacity: 1;
        -webkit-transform: translateY(5px);
        transform: translateY(5px);
        /* move the element down by 5px (it will stay in place because it's attached to the element that also moves up 5px) */
    }

    .panel-default2 {
        border-radius: 0px;
        margin-top: 0px;
        margin-bottom: 0px;
    }

    .panel-heading2 {
        padding-top: 0px;
        padding-left: 6px;
        padding-right: 5px;
        text-align: center;
        padding-bottom: 0px;

    }

    .panel-body2 {
        padding: 0;
        padding-top: 2px;
        padding-bottom: 0px;
        text-align: center;
    }

    .profileOfficePoints {
    {#        float: left;#} padding-top: 5px;
        margin-top: 0px;
        margin-bottom: 0px;
        font-size: 15px;
    }

    .profileOfficePoints2 {
    {#        float: right;#} padding-top: 5px;
        margin-top: 0px;
        margin-bottom: 0px;
        font-size: 15px;
    }

    .officePoints {
    {#        float: left;#} font-size: 15px;
    }

    .yourPoints {
    {#        float: right;#} font-size: 15px;
    }

    .panelLeft {
        float: left;
        z-index: 1;
    }

    .panelRight {
        float: right;
        z-index: 10;
    }

    .officeButton {
    {#        height: #} margin-top: 15px;
        margin-left: 15px;
        color: #b7ebff;
        text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    }

    {#    .officeButton:hover {#}
    {#        height: #}
    {#        margin-top: 15px;#}
    {#        margin-left: 15px;#}
    {#        color: #59818f;#}
    {#        text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;#}
    {#    }#}

    .liButton {
        border-right: black solid 1px;
        padding-bottom: 6px;
        padding-right: 15px;
    }

    .liButton.active {
        border-right: black solid 1px;
        padding-bottom: 6px;
        padding-right: 15px;
        background-color: #eee;
    }

    .panel-heading.panel-heading2.OfficeNameColour {
        color: #b7ebff;
        text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    }

    .OfficeNameColour:hover, .OfficeNameColour:link, .OfficeNameColour:visited {
        color: #b7ebff;
        text-decoration: none;
        text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    }

    .OfficeNameColour:hover {
        color: #8cb1c0;
    }


</style>

<!-- Static navbar -->
<nav class="navbar navbar-default navbar-static-top">
    <div class="container" id="navbar-container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                    aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{% url 'home' %}"> <img id="navbar-img" class="logo"
                                                                  src="{% static 'img/Arrows_Navbar.png' %}"/> <img
                    class="hvr-grow" id="logo2" src="{% static 'img/Office_Wars_Logo.png' %}"/></a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a href="{% url 'home' %}">HOME</a></li>
                <li><a href="{% url 'war_list' %}">WARS</a></li>
                <li><a href="{% url 'search' %}">OFFICES</a></li>
                <li><a href="{% url 'war_edit' %}">CREATE</a></li>
                <!-- <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Dropdown <span class="caret"></span></a>
                  <ul class="dropdown-menu" role="menu">
                    <li><a href="#">Action</a></li>
                    <li><a href="#">Another action</a></li>
                    <li><a href="#">Something else here</a></li>
                    <li class="divider"></li>
                    <li class="dropdown-header">Nav header</li>
                    <li><a href="#">Separated link</a></li>
                    <li><a href="#">One more separated link</a></li>
                  </ul>
                </li> -->
            </ul>


            <ul class="nav navbar-nav navbar-right">

                {% if request.user.is_authenticated %}

                    <li style="margin-right: 50px">
                        <form class="navbar-form navbar-right" action="{% url "newsletter.views.searchView" %}" method="get">
                            <div class="form-group">
                                <input style="width: 300px;" type="text" class="form-control" placeholder="Search Offices - Not Working Yet">
                            </div>
                        </form>
                    </li>
                    <li>
                        <img class="UserPicture avatar" src="/media/{{ request.user.user.profilePicture }}"/>
                    </li>
                    <li><a href="#" id="usernameProfile" class="dropdown-toggle" data-toggle="dropdown" role="button"
                           aria-haspopup="true"
                           aria-expanded="false">{{ request.user }} <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li class="revealBox"><a href="{% url 'profile' %}">Profile</a></li>
                            <li><a href="{% url 'auth_logout' %}">Logout</a></li>
                        </ul>
                    </li>
                    <li class="liButton">
                        <div class="officeButton">
                            <div class="glyphicon glyphicon-tower">

                            </div>
                        </div>
                    </li>
                {% else %}
                    <li id="registerdiv"><a id="register" href="{% url 'registration_register' %}">Register</a></li>
                {% endif %}
            </ul>

            {% if not request.user.is_authenticated and not "/accounts/login" in request.get_full_path %}
                <form class='navbar-form navbar-right' method='POST' action='{% url "auth_login" %}'>{% csrf_token %}
                    <div class='form-group'>
                        <input type='text' class='form-control' id="login-bar" name='username' placeholder='USERNAME'/>
                    </div>
                    <div class='form-group'>
                        <input type='password' id="login-bar" class='form-control' name='password'
                               placeholder='PASSWORD'/>
                    </div>
                    <button id="navbar_login_button" type='submit' class='btn btn-default'>Login</button>
                </form>
            {% endif %}


        </div><!--/.nav-collapse -->
    </div>
</nav>

{% if request.user.user.office %}
    <div class="profileBox">

        <div class="panel panel-default panel-default2">
            <div class="panel-heading panel-heading2 OfficeNameColour">
                <a class="OfficeNameColour" href="{% url 'officeView' %}">{{ request.user.user.office.officeName }}</a>
            </div>
            <div class="panel-body panel-body2">
                <strong>Rank:</strong> {{ request.user.user.get_rank_display }}
            </div>
        </div>

        <a class="hvr-float-shadow">
            <img class="shield-img" src="/media/{{ request.user.user.office.officeShield }}"/>
        </a>

        <div class="panel panel-default panel-default2">
            <div class="panelLeft panel panel-default hvr-float">
                <div class="panel-heading panel-heading2">
                    <h3 class="profileOfficePoints">Office Points</h3>
                </div>
                <div class="panel-body panel-body2">
                    <div class="officePoints">500</div>
                </div>
            </div>

            <div class="panelRight panel panel-default hvr-float">
                <div class="panel-heading panel-heading2">
                    <h3 class="profileOfficePoints2">Your Points</h3>
                </div>
                <div class="panel-body panel-body2">
                    <div class="yourPoints">101</div>
                </div>
            </div>
        </div>

    </div>
{% else %}
    <div class="profileBox2">

        <div class="panel panel-default panel-default2">
            <div class="panel-heading panel-heading2 OfficeNameColour">
                No Office
            </div>
            <div class="panel-body panel-body2">
                <strong>Rank:</strong> Unqualified
            </div>
        </div>

        <a class="hvr-float-shadow">
            <img class="shield-img" src="{% static 'img/QuestionShield.png' %}"/>
        </a>

        <div class="panel panel-default panel-default2">
            {#            <div class="panelLeft panel panel-default hvr-float">#}
            {#                <div class="panel-heading panel-heading2">#}
            {#                    <h3 class="profileOfficePoints">Office Points</h3>#}
            {#                </div>#}
            {#                <div class="panel-body panel-body2">#}
            {#                    <div class="officePoints">500</div>#}
            {#                </div>#}
            {#            </div>#}
            {##}
            {#            <div class="panelRight panel panel-default hvr-float">#}
            {#                <div class="panel-heading panel-heading2">#}
            {#                    <h3 class="profileOfficePoints2">Your Points</h3>#}
            {#                </div>#}
            {#                <div class="panel-body panel-body2">#}
            {#                    <div class="yourPoints">101</div>#}
            {#                </div>#}
            {#            </div>#}
            <div class="panel-body">
                <p style="font-size: 15px">Don't have an Office? <a href="{% url 'officeCreate' %}">Create</a> or <a
                        href="{% url 'search' %}">Join</a></p>
            </div>
        </div>

    </div>
{% endif %}

<script>

    {#    $('.revealBox').click(function () {#}
    {#        $('.profileBox').toggle(function () {#}
    {#            $('.profileBox').addClass("animated fadeInDown")#}
    {#        })#}
    {#    });#}

    $('.liButton').click(function () {
        $('.liButton').toggleClass("active");

        $('.profileBox').toggle(function () {
            $('.profileBox').addClass("animated fadeInDown")
        });

        $('.profileBox2').toggle(function () {
            $('.profileBox2').addClass("animated fadeInDown")
        })
    });

    $().hover(function () {

    });


    $().hover(function () {

    });
</script>